<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <script type="module" src="./assets/js/main.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alta-clone</title>
  </head>
  <body class="flex flex-col gap-60 py-7 items-center justify-center">


    <div class="flex flex-col items-center gap-9 mx-[28px]">
      <div class="flex flex-col items-center gap-10 md:gap-[25px]">
        <h1 class="text-[32px] md:text-6xl font-medium tracking-[-.5px] text-center leading-[40px] md:leading-[72px]">Know your revenue. <br>Seize your opportunities.</h1>
        <p class="text-darkGrey text-base text-center font-light leading-[25px] md:leading-[28px]">Alta boosts your revenue engine with an engaging and <br>easy-to-use AI-powered platform. Run revenue with confidence.</p>
      </div>
      <button class="bg-purple text-white text-sm md:text-base font-normal py-3 px-7 rounded-md w-full md:w-fit hover:bg-darkPurple">Get started - it's free</button>
    </div>

  <div class="flex flex-col md:flex-row bg-darkBlue text-white px-6 md:px-16 py-14 md:py-36 gap-9 md:gap-[118px]">
    <div class="flex flex-col gap-[18px] md:gap-[25px] order-2 md:order-1">
      <p class="text-xs md:text-sm tracking-[1px] md:tracking-[2px] font-normal md:font-medium">SECURITY & COMPLIANCE</p>
      <h2 class="text-[32px] md:text-[54px] font-medium leading-[40px] md:leading-[64px] tracking-[-.5px] md:tracking-0">Reach business goals with peace of mind</h2>
      <p class="leading-[28px] font-light">At Alta we take our customers’ data very seriously. Ensuring enterprise-level privacy and security is at the foundation of what we do. We are SOC2 compliant.</p>
    </div>
    <img class="order-1 md:order-2" src="./assets/img/641b09171de4d479f0f9358d_security--shield.svg" alt="security">
  </div>
  
  </body>
</html>
